
        <div id="rodape">            
            <h5>
            <a class="menu-rodape" href="http://wiki.sj.ifsc.edu.br/wiki/index.php/Portal_de_Telecomunica%C3%A7%C3%B5es" target="_blank">Wiki - Portal de Telecomunicações</a>
            <a class="menu-rodape" href="http://biblioteca.ifsc.edu.br/index.html" target="_blank">Sistema Sophia - Biblioteca IFSC</a>
            <a class="menu-rodape" href="">Simulador</a>
            <a class="menu-rodape" href="">Início</a>
            </h5>
        </div>

    </body>
</html>