{% extends "modulo/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

		<div id="situa-geral">			
			<div id="situa">
			    <!-- #para não aparecer as tags html -->
			    {% autoescape off %}
			    <form action="{% url 'simulador' %}" method="POST" id="simulador" name="simulador">
	    	{% csrf_token %}
    	    <a id=s1></a>
            <fieldset id="simulador" style="clear:both;">
	    		<legend>Simulador</legend>
	    		{% if request.method == 'POST' %}
                <div id="imagem1">
                    <!-- Para erros de início do eixo maior que o fim do eixo -->
                    {% if simulador.t_start.value >= simulador.t_stop.value %}
                    <h4 class="box_blue">Não processado! O <i>início do eixo</i> não pode ser maior que o <i>fim do eixo</i>. Revise os valores.</h4>
                    <img class="img5" title="Erro de Parametrização." alt="Erro de Parametrização." src="{% static 'media/imagens/errado.gif' %}" onload="showerror('{{ simulador.t_start.id_for_label }}');showerror('{{ simulador.t_stop.id_for_label }}')"/>
                    
                    <!-- Para erros de frequência  <= 0 -->
                    {% elif simulador.freq.value <= '0' %}
                    <h4 class="box_blue">Não processado! A <i>frequência</i> precisa ser maior que <i>zero</i>. Revise os valores.</h4>
                    <img class="img5" title="Erro de Parametrização." alt="Erro de Parametrização." src="{% static 'media/imagens/errado.gif' %}" onload="showerror('{{ simulador.freq.id_for_label }}')"/>
                    {% elif not simulador.plot_sinal.value and not simulador.plot_fourier.value and not simulador.plot_amostras.value and not simulador.plot_quant_g.value and not simulador.plot_quant_mt.value and not simulador.plot_quant_mr.value and not simulador.plot_quant_eq_g.value and not simulador.plot_quant_eq_mt.value and not simulador.plot_quant_eq_mr.value %}
                    <h4 class="box_blue">Não processado! Nenhuma simulação foi selecionada.</h4>
                    <img class="img5" title="Erro de Parametrização." alt="Erro de Parametrização." src="{% static 'media/imagens/errado.gif' %}" onload="showerror('id_simulacao');showerror('id_simulacao_legenda')"/>

                    {% else %}
                    <img class="img2" title="Gráfico de onda" src="{% static 'media/graficos/graph' %}{{simulador.random_image.value}}.png" alt="Gráfico de onda"/>
				    <h5 class="box_blue">Posicione o mouse em cima do gráfico, para ampliá-lo.</h5>
                    {% endif %}
	        	</div>
                {% endif %}
                <fieldset class="sim_interno">
                <legend>Gráfico / Plano</legend>
	        	<table>
                    <tr><th><label for="{{ simulador.titulo.id_for_label }}">{{ simulador.titulo.label }}:</label></th><td>{{ simulador.titulo }}</td></tr>
                    <tr><th><label for="{{ simulador.t_start.id_for_label }}">{{ simulador.t_start.label }}:</label></th><td>{{ simulador.t_start }}</td></tr>
                    <tr><th><label for="{{ simulador.t_stop.id_for_label }}">{{ simulador.t_stop.label }}:</label></th><td>{{ simulador.t_stop }}</td></tr>
                </table>
                </fieldset>

                <fieldset class="sim_interno">
                <legend>Sinal</legend>
	        	<table>
                    <tr><th><label for="{{ simulador.dc.id_for_label }}">{{ simulador.dc.label }}:</label></th><td>{{ simulador.dc }}</td></tr>
                    <tr><th><label for="{{ simulador.ampl.id_for_label }}">{{ simulador.ampl.label }}:</label></th><td>{{ simulador.ampl }}</td></tr>
                    <tr><th><label for="{{ simulador.s_npf.id_for_label }}">{{ simulador.s_npf.label }}:</label></th><td>{{ simulador.s_npf }}</td></tr>
                    <tr><th><label for="{{ simulador.freq.id_for_label }}">{{ simulador.freq.label }}:</label></th><td>{{ simulador.freq }}</td></tr>
                    <tr><th><label for="{{ simulador.desl.id_for_label }}">{{ simulador.desl.label }}:</label></th><td>{{ simulador.desl }}</td></tr>
                </table>
                </fieldset>
                <fieldset id="id_simulacao" class="sim_sim">
                <legend id="id_simulacao_legenda">Simulação</legend>
	        	<table class="sim_sim">
                    <tr>
                        <th class="no-decoration"><label for="{{ simulador.fs.id_for_label }}">{{ simulador.fs.label }}:</label></th>
                        <th class="no-decoration" colspan="2">{{ simulador.fs }}</th>
                    </tr>
                    <tr>
                        <th id="id_figura" class="blue" colspan="3"><hr/>Figura:</th>
                    </tr>
                    <tr>
                        <th class="no-decoration">{{ simulador.plot_sinal}}<label for="{{ simulador.plot_sinal.id_for_label }}">{{ simulador.plot_sinal.label }}</label></th>
                        <th class="no-decoration">{{ simulador.plot_fourier}}<label for="{{ simulador.plot_fourier.id_for_label }}">{{ simulador.plot_fourier.label }}</label></th>                        
                        <th class="no-decoration">{{ simulador.plot_amostras}}<label for="{{ simulador.plot_amostras.id_for_label }}">{{ simulador.plot_amostras.label }}</label></th>
                    </tr>
                </table>
                    <fieldset class="sim_sim">
                    <legend>Quantização Genérica</legend>
	            	<table class="sim_sim">
                        <tr>
                            <th class="no-decoration"><label for="{{ simulador.niveis.id_for_label }}">{{ simulador.niveis.label }}:</label><img class="helptext" title="{{ simulador.niveis.help_text }}" alt="{{ simulador.niveis.help_text }}" src="{% static 'media/imagens/what.jpg' %}"/></th>
                            <td>{{ simulador.niveis }}</td>
                        </tr>
                        <tr>
                            <th class="no-decoration"><label for="{{ simulador.limiar_inf.id_for_label }}">{{ simulador.limiar_inf.label }}:</label><img class="helptext" title="{{ simulador.limiar_inf.help_text }}" alt="{{ simulador.limiar_inf.help_text }}" src="{% static 'media/imagens/what.jpg' %}"/></th><td>{{ simulador.limiar_inf }}</td>
                        </tr>                        
                        <tr>
                            <th id="id_figura" class="blue" colspan="2"><hr/>Figura:</th>
                        </tr>
                        <tr>
                            <th class="no-decoration" style="padding:10px;">{{ simulador.plot_quant_g}}<label for="{{ simulador.plot_quant_g.id_for_label }}">{{ simulador.plot_quant_g.label }}</label></th>
                            <th class="no-decoration">{{ simulador.plot_quant_eq_g}}<label for="{{ simulador.plot_quant_eq_g.id_for_label }}">{{ simulador.plot_quant_eq_g.label }}</label></th>
                        </tr>
                    </table>
                    </fieldset>
                    <fieldset class="sim_sim">
                    <legend>Quantização Uniforme</legend>
	            	<table class="sim_sim">
                        <tr>
                            <th class="no-decoration"><label for="{{ simulador.quantiza.id_for_label }}">{{ simulador.quantiza.label }}:</label><img class="helptext" title="{{ simulador.quantiza.help_text }}" alt="{{ simulador.quantiza.help_text }}" src="{% static 'media/imagens/what.jpg' %}"/></th>
                            <td>{{ simulador.quantiza }}</td>
                        </tr>
                        <tr>
                            <th class="no-decoration" id="id_figura" colspan="2"><span class="blue"><hr/>Figura:</span></th>
                        </tr>
                        <tr>
                            <th class="no-decoration" style="padding:10px;">{{ simulador.plot_quant_mt}}<label for="{{ simulador.plot_quant_mt.id_for_label }}">{{ simulador.plot_quant_mt.label }}</label>
                            <th class="no-decoration" style="padding:10px;">{{ simulador.plot_quant_eq_mt}}<label for="{{ simulador.plot_quant_eq_mt.id_for_label }}">{{ simulador.plot_quant_eq_mt.label }}</label></th>
                        </tr>
                        <tr>
                            <th class="no-decoration" style="padding:10px;">{{ simulador.plot_quant_mr}}<label for="{{ simulador.plot_quant_mr.id_for_label }}">{{ simulador.plot_quant_mr.label }}</label></th>
                            <th class="no-decoration" style="padding:10px;">{{ simulador.plot_quant_eq_mr}}<label for="{{ simulador.plot_quant_eq_mr.id_for_label }}">{{ simulador.plot_quant_eq_mr.label }}</label></th>
                        </tr>                        
                    </table>
                    </fieldset>
                </fieldset>
                <p><input type="submit" value="Enviar" tabindex="24"/>{{ simulador.random_image }}<input type="reset" value="Limpar" tabindex="25"/></p>
			</fieldset>
			</form>
			    {% endautoescape %}
    		</div>	
		</div>
        {% endblock content %}