body{margin:0; padding:0; font-family:verdana, arial, sans-serif;}
p, li{text-align:justify; font-size:14px; margin:10px;}
img{position:relative; border:0; max-width:98%;}
hr{}
h1,h2,h3,h4,h5{text-align:center; margin:5px; padding:3px;}
hr{color:#00f; font-weight:bold;}

.red{color:#f00; font-weight:bold;}
.blue{color:#00f; font-weight:bold;}
.right{text-align:right;}
.left{text-align:left;}
.medio{width:300px; text-align:center;}
.float_left{float:left;}
.no-decoration{text-decoration:none; list-style-type: none; padding: 0;}
th.no-decoration{width:auto;}

#cabecalho{position:relative; width:auto; margin:0;}
#imagem2{position:relative; float:left; width:30%; margin:10px;}
#imagem3{position:relative; float:right; width:auto; border: solid 1px #4f81bd; padding:3px; margin:2px; color:#4f81bd;}
#imagem3:hover{border: solid 1px #000; color:#f00;}
.img3{position:relative; width:200px; height:auto; margin-top:-10px;}
.title{text-indent:-200px; padding-top:20px; color:#4f81bd;}

#menu-cabecalho{position:relative; clear:left; background-color:#4f81bd; color:#ffffff; margin:3px; padding:5px;}
table.menu-cabecalho-geral{width:auto;}
td.menu-cabecalho-geral{width:auto; border:1px solid #ffffff;}

a.menu-cabecalho-geral{text-decoration:none;}
a.menu-cabecalho-geral:link{color:#ffffff;} /* unvisited link */
a.menu-cabecalho-geral:visited{color:#ffffff;} /* visited link */
a.menu-cabecalho-geral:hover{color:#ffffff;} /* mouse over link */
a.menu-cabecalho-geral:active{color:#ffffff;} /* selected link */

table.moduloroteiros{position:absolute; visibility:hidden; z-index:1; padding-top:5px; width:auto; background-color:#4f81bd;}

#modrot{position:relative; overflow:hidden; background-color:#4f81bd; width:20%; height:auto; float:left; border:solid 1px #fffff; margin:5px; padding:5px;}
a.modrot{text-decoration:none; text-align:center; display:block; font-size:12px; padding:5px; margin:5px; background-color:#ffffff; border:solid 1px #ffffff;}
a.modrot:link {color:#00f;} /* unvisited link */
a.modrot:visited {color:#00f; background-color:#fff;} /* visited link */
a.modrot:hover {color:#00f; border:solid 1px #c0c0c0;} /* mouse over link */
a.modrot:active {color:#f0f;} /* selected link */

#menu-lateral{position:relative; width:30%; background-color:#4f81bd; color:#00ffff; margin:2px; padding:5px; margin-right:10px;}

a.menu-lateral{display:block; text-decoration:none; border:solid 1px #fff; margin:5px; padding:5px;}
a.menu-lateral:link{color:#fff;} /* unvisited link */
a.menu-lateral:visited{color:#ffff00;} /* visited link */
a.menu-lateral:hover{color:#fff; border:solid 1px #c0c0c0;} /* mouse over link */
a.menu-lateral:active{color:#fff;} /* selected link */

#modrot-lat{position:relative; width:auto; background-color:#6fa2cf; color:#fff; border:solid 1px #fff; margin:5px; padding:5px;}

hr.modrot-lat{clear:none; color:#fff;}
a.modrot-lat{display:block; text-decoration:none;}
a.modrot-lat:link{color:#fff;} /* unvisited link */
a.modrot-lat:visited{color:#ff0;} /* visited link */
a.modrot-lat:hover{color:#0000ff; } /* mouse over link */
a.modrot-lat:active{color:#fff;} /* selected link */

h4.modrot-lat{text-align:left;}

/* página de detalhe*/
#situa-geral{position:relative; z-index:1; width:65%; float:right; background-color:#cfcfcf; color:#000; border:solid 1px #4f81bd; margin:5px; margin-bottom:10px; padding:10px;}
.title2{color:#4f81bd;}
#situa{position:relative; background-color:#fff; color:#000; border:solid 1px #4f81bd; margin:5px; padding:10px;}
.title3{color:#4f81bd; text-align:left;}

.menu-subsidio-rodape{}

a.menu-subsidio-rodape:link{background-color:#fff; color:#4f81bd; margin:3px; padding:3px;} /* unvisited link */
a.menu-subsidio-rodape:visited{text-decoration:none; color:#0af;} /* visited link */
a.menu-subsidio-rodape:hover{background-color:#4f81bd; color:#fff;} /* mouse over link */
a.menu-subsidio-rodape:active{color:#00f;} /* selected link */

/* Simulador */
fieldset{text-align:left; width:auto; padding:5px; margin:2px; border:1px solid #00f;}
legend{padding:5px; text-align:left; color:#00f;}
label{text-align:left; padding:5px;}
input{margin:2px; color:#00f; background-color:#eee;}
.box_blue{position:relative; padding:2px; border:solid 1px #00f; background-color:#eee; color:#00f;}
th{font-weight:normal; font-size:14px; width:70%}
.blue{color:#00f;}

#id_amostras{list-style-type: none; padding:0px;}
#imagem1{position:relative; float:right; width:40%; margin:10px; text-align:center;}

.img2{position:relative; padding:2px; border:solid 1px #00f; width:100%; height:auto; text-indent:10px; text-align:justify; font-size:10px; background-color:#ccf;}
.img2:hover{position:fixed; width:auto; align:center; top:2px; right:20px; z-index:1;}
.img5{position:relative; text-align:center; width:200px; height:auto; margin-top:10px;}

#texto{position:relative; margin:5px; width:auto;}

fieldset.sim_interno{position:relative; width:55%; margin:5px;}
fieldset.sim_sim{position:relative; width:98%; margin:5px;}
table.sim_sim{position:relative; width:98%; margin:5px;}

.img1{position:relative; padding:2px; border:solid 2px #fff; width:100%; height:auto; text-indent:10px; text-align:justify; font-size:10px; background-color:#ccf;}
.oculto{visibility:hidden; width:0; height:0;}
.radio{list-style-type: none;}
.sim_float{position:relative; width:55%; float:left;}
.sim_half{position:relative; width:45%;}
th.sim_half{width:10%; padding:10px; vertical-align:top;}
.input_menor{width:40%;}
.helptext{position:relative; width:20px; vertical-align:bottom; margin-left:2px;}

/* Fim Simulador */

.img4{position:relative; padding:2px; border:solid 2px #fff; width:100%; height:auto; text-indent:10px; text-align:justify; font-size:10px; background-color:#ccf;}
.cita{position:relative; margin:0 10% 0 10%; padding:3px; width:auto; font-style:italic; background-color:#ccf;}
.cita2{font-style:italic; background-color:#ccf;}

a.topo-texto{text-decoration:none; font-size:10px; padding:1px 2px; margin:0px; background-color:#fff; border:solid 1px #00f; color:#00f;}
a.topo-texto:link {} /* unvisited link */
a.topo-texto:visited {} /* visited link */
a.topo-texto:hover {font-weight:bold; color:#c0c0c0;} /* mouse over link */
a.topo-texto:active {} /* selected link */

a.anexos-texto{text-decoration:none; padding:4px; margin:0px; background-color:#fff; border:solid 1px #00f; color:#00f;}
a.anexos-texto:link {} /* unvisited link */
a.anexos-texto:visited {} /* visited link */
a.anexos-texto:hover {color:#c0c0c0;} /* mouse over link */
a.anexos-texto:active {} /* selected link */

a.notas:link {text-decoration:none; vertical-align:super; color:#00f;}
a.notas:visited {color:#00d;}
a.notas:hover {color:#c0c0c0;}
a.notas:active {}

.nota{text-decoration:none; font-size:13px; color:#000;}
.italic{font-style:italic;}
.bold{font-weight:bold;}
.tabela{position:relative; margin:0 10% 0 10%; padding:3px; width:auto; background-color:#ccf;}
p.tabela{text-indent:0px;}

#rodape{position:relative; clear:both; width:auto; background-color:#4f81bd; color:#fff; margin:2px; padding:10px;}
a.menu-rodape{display:inline; text-decoration:none; border:solid 1px #fff; margin:5px; padding:5px;}
a.menu-rodape:link{color:#fff;} /* unvisited link */
a.menu-rodape:visited{color:#ff0;} /* visited link */
a.menu-rodape:hover{color:#fff; border:solid 1px #c0c0c0;} /* mouse over link */
a.menu-rodape:active{color:#fff;} /* selected link */
